#wrap-content-inner{

}
/*底部*/
footer{
    height:1.66rem;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    z-index: 999;
    width: 10rem;
    margin: auto;
    background-color:rgba(246,246,246,.95);
}
footer ul{
    display: flex;
    flex-direction: row;
    background-color:rgba(246,246,246,.95);
}
footer li{
    width: 25%;
    height: 90%;
    margin-top:.157rem;
    position: relative;
}
footer li a{
    display: block;
    height: 100%;
    width: 100%;
}
footer li a div:first-child{
    height:.8rem;
    margin:0rem 0px 0px 33%;
}
footer li a .text{
    width: 100%;
    text-align: center;
    padding:0.08rem;
    color: #777;
    font-size: 12px;
}
.footer-click div:first-child{
    background-size:.9rem  .9rem;
    background-repeat: no-repeat;
}
footer li .icon-home{
    background-image: url(../img/home.png) ;
}
footer li .icon-home2{
    background-image: url(../img/home2.png);
}
footer li .icon-market{
    background: url(../img/foudre.png) no-repeat;
}
footer li .icon-market2{
    background: url(../img/foudre2.png) no-repeat;

}
footer li .icon-order{
    background: url("../img/order.png") no-repeat;
}
footer li .icon-order2{
    background: url("../img/order2.png") no-repeat;
}
footer li .icon-shopCar{
    background: url("../img/shop.png") no-repeat;
}
footer li .icon-shopCar2{
    background: url("../img/shop2.png") no-repeat;
}
footer li .icon-person{
    background: url("../img/my.png") no-repeat;
}
footer li .icon-person2{
    background: url("../img/my2.png") no-repeat;
}