/*底部*/
footer{
    height:1.66rem;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    z-index: 999;
    width: 10rem;
    margin: auto;
    background-color:rgba(246,246,246,1);
}
footer ul{
    display: flex;
    flex-direction: row;
    background-color:rgba(246,246,246,1);
}
footer li{
    width: 25%;
    height: 90%;
    margin-top:.157rem;
    position: relative;
}
footer li a{
    display: block;
    height: 100%;
    width: 100%;
}
footer li a div:first-child{
    height:.8rem;
    margin:0rem 0px 0px 33%;
}
footer li a .text{
    width: 100%;
    text-align: center;
    padding:0.08rem;
    color: #777;
    /*font-size: 12px;*/
}

.footer-click div:first-child{
    background-size:.9rem  .9rem;
    background-repeat: no-repeat;
}
footer ul li:nth-of-type(1) .img-active{
    background-image: url(../img/home.png) ;
}
footer ul li:nth-of-type(2) .img-active{
    background-image: url("../img/order.png");
}
footer ul li:nth-of-type(3) .img-active{
    background-image: url(../img/foudre.png) ;
}
footer ul li:nth-of-type(4) .img-active{
    background-image: url("../img/shop.png");
}
footer ul li:nth-of-type(5) .img-active{
    background-image: url("../img/my.png");
}


footer ul li:nth-of-type(1) .img-active1{
    background-image: url(../img/home2.png) ;
}
footer ul li:nth-of-type(2) .img-active1{
    background-image: url("../img/order2.png");
}
footer ul li:nth-of-type(3) .img-active1{
    background-image: url(../img/foudre2.png) ;
}
footer ul li:nth-of-type(4) .img-active1{
    background-image: url("../img/shop2.png");
}
footer ul li:nth-of-type(5) .img-active1{
    background-image: url("../img/my2.png");
}

/*飞入购物车样式*/
.u-flyer{display: block;width: 80px;height: 80px;border-radius: 100%;position: fixed;z-index: 9999;}
