body, div, dl, dt, dd, ul, ol, nl, li, h1, h2, h3, h4, h5, h6, p, span, a, b, strong, object, iframe, label, img, select, form, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
table {border-collapse:collapse;border-spacing:0}
a {text-decoration:none;color:#333;}
fieldset, img {border:0 none}
textarea {resize:none}
input:focus, select:focus, textarea:focus {outline:0 none}
ul, ol,li {list-style:none outside none}
input,button{border: none;}

body,html{height:100%; font-size:14px; font-family:"微软雅黑"; color:#333;}
img{display:block;}
/*设一个清除浮动的class*/
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    zoom:1;/*为兼容IE6,IE7，因为ie6,ie7不能用after伪类*/
}
