body{
    background-color: #EFEFEF;
}
i{
    font-style: normal;
}
/*头部*/
header{
    position: relative;
}
.header-wrap{
    height: 1.718rem;
    background-color: #F9FAFD;
    text-align: center;
    font-weight: 700;
    font-size: .48rem;
    line-height: 1.718rem;
}
/*用户位置*/
.position{
    background-color: #fff;
    font-size: .5rem;
    padding: .4rem;
    border-top: 1px solid #E0E0E0;
}
.position a{
    color: #E95F2E;
}
/*优惠消息*/
.discount-info{
    position: relative;
    padding: .2rem .4rem;
    background-color: #fff;
    margin-top: .3rem;
    border-bottom: 1px solid #E0E0E0;
}
.discount-module{
    font-size: .38rem;
    color: #999;
}
.discount-module:before{
    content: "";
    display: inline-block;
    width: .2rem;
    height: .4rem;
    background-color: #ffd600;
    border-radius: .5rem;
    vertical-align: middle;
    margin-right: .3rem;
}
.discount-cont{
    font-size: .35rem;
    color: #999;
    margin-top: .4rem;
}
/*收货信息*/
.receipt-goods{
    position: relative;
}
.receipt-time,.receipt-remarks{
    font-size: .5rem;
    padding: .4rem;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
}
.receipt-time i{
    color: #E95F2E;
    margin-left: .3rem;
}
.book{
    float: right;
}
.book:after{
    content:"";
    display: inline-block;
    background: url("../../img/right.png");
    background-size: 100% 100%;
    width: .3rem;
    height: .3rem;
    margin-left: .1rem;
}

.receipt-remarks{
    padding: .2rem .4rem;
}
.remarks{
    width: 6.3rem;
    height: 1rem;
    border: 2px solid #CECECE;
    border-radius: .2rem;
    margin-left: .3rem;
    font-size: .4rem;
    padding-left: .2rem;
}